<html>

<head>
<title>Hello</title>
<style type="text/css" media="screen">
 body {
    background: #888;
    font-family: Verdana;
    font-size: 12px;
   }
   #container {
     width: 75%;
     margin: 0 auto;
     padding: 20px 40px
     border: solid 1px black
     margin-top: 20px;
   }
   a { color: #00f}
   </style>
</head>

<body>
<div id='container'>
  <h1>Hello Mortal!</h1>
   <form method="post" action="/change">
     <input name="name" type="text">
     <input type="submit" name="Change Name">
   </form>
</div>
</body>

</html>
