<html>

<head>
<title>Hello</title>
<link rel="stylesheet" href="../public/stylesheets/application.css" type="text/css" @charset "UTF-8">
</head>

<body>
<div id='container'>
  <h1>Hello Mortal!</h1>
   <form method="post" action="/change">
     <input name="name" type="text">
     <input type="submit" name="Change Name">
   </form>
</div>
</body>

</html>
