body {
   background: #888;
   font-family: Verdana;
   font-size: 12px;
  }

 #container {
    width: 75%;
    margin: 0 auto;
    padding: 20px 40px
    border: solid 1px black
    margin-top: 20px;
  }
  
  a { color: #00f}
